%h1= @project.name
%ul
  - @project.builds.each do |b|
    %li
      %a{:href => "/projects/#{@project.name}/builds/#{b.number}"}= "Build #{b.number}"
      = "(#{b.status})"

%form{:method => 'POST', :action => ''}
  %input{:type => :submit, :value => 'Force Build'}
