<div class='hero-unit'>
  <h1>Fudge Server</h1>
  <p>Welcome to fudge continuous integrations server.</p>
  <p>Add your builds when you can..</p>
</div>
<ul class="nav nav-tabs nav-stacked">
  <% @builds.each do |build| %>
    <%
      case build[:status]
      when :pass
        state ='success'
        title = 'build is passing'
        icon = '✓'
      when :warn
        state = 'warning'
        title = '? out of the last 5 builds failed'
        icon = build[:count]
      when :fail
        state = 'important'
        title = 'build is failing'
        icon = build[:count]
      end
    %>
    <li><a href="./repo/<%= build[:id] %>/"><span class="badge badge-<%= state %>" title="<%= title %>"><%= icon %></span> <%= build[:name] %><% if build[:pulls] %> <span class="label label-info">Pull Requests</span><% end %></a></li>
  <% end %>
</ul>
<p>
<a class="btn btn-info" href="#"><i class="icon-plus-sign icon-white"></i> Add Repository</a>
</p>
