%h1
  %a{:href => "/projects/#{@project.name}"}= @project.name

%h2
  %a{:href => ''}= "Build #{@build.number}"
%p= "Status: #{@build.status}"
%p= "Commit: #{@build.sha}"
%p= "Author: #{@build.author}"
%p= "Committer: #{@buildcommitter}"
%p Diff:
%div#diff= @build.diff
%p Output:
%div#output= @build.output
